@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  background:#526654;
}

#mainbox{
  font-size: 2rem;
  cursor: pointer;
  transition: all .6s;
  color: white;

 }
 .sidemenu{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  background-color: #526654;
  z-index: 1000;
  padding-top: 100px;
  overflow-x: hidden;
  transition: all .5s;
 }
 .sidemenu a{
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(199, 199, 199);
  display: block;
  text-transform: capitalize;
 }
 .sidemenu a:hover{
   color: white;
 }
 .sidemenu .closebtn{
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 32px;
 }
.navbar{
  background:transparent;
  padding: 1rem 6rem !important;
  z-index: 20;
}
.navbar-nav{
    margin-left:auto;
}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 600;
}
.navbar .nav-item{
transition:0.5s ease;
}
.navbar .navbar-brand img{
  height:3.1rem;
  width: auto;
}
.navbar .nav-item .nav-link{
    color: whitesmoke !important;
    font-size: 1.1rem;
    padding: 0.5rem 3rem !important;
    font-weight: 400;
    border-right: 1px solid #747474;
    line-height: 0.2rem;
    text-transform: uppercase;
}

#Navbar > ul > li:nth-child(4) > a{
  border-right: none;  
}

#Navbar > ul > li:nth-child(n) > a:hover {
      color: #FFF6E4 !important;
}
#Navbar > ul > li:nth-child(n) > a:active{
      color:white;
}
.navbar .btn{
    margin-left: 10px;
    font-weight: 500; 
    background:#FFF6E4;
    padding: 0.2rem 2.4rem;
    border-radius:20px;
    color: #131313 !important;
  }

  .navbar .btn:hover{
    background: whitesmoke;
  }

  .mid {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mid video {
    height: 100%;
    width: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: -5; 
  }

  .writeup {
    position: relative;    
  }
  .writeup h5{
    font-weight: 900;
    
  }
  .writeup p {
    width: 55%;
    letter-spacing: 2px;
    padding-bottom: 1rem;
  }
  @media (max-width: 767px) {
    .writeup p{
      width: auto;
    }
  }
  .writeup .check{
    z-index: 100;
    opacity:60;
  }
  .writeup a {
    font-weight: 600;
    color:white;
    background: #FFF6E4;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
  }
  .writeup a:hover {
    background: white;
  }

.saving .text{  z-index:2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}

.saving .text h5{
  font-weight: 700;
  color:black;
  font-size:4rem;
}


.saving .text p{
  color:black;
  font-size: 1.1rem;
  /* letter-spacing: 2px; */
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.saving .text a{
  background: black;
  font-weight: 600;
  padding: 0.7rem 4rem;
  border-radius: 30px;
  text-decoration: none;
  color: white;
}

.saving .text a:hover{
  color:#FFF6E4;
}


.page { 
  background-color: #526654;
}
.page .first {           
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 1.1rem;
  
}
.page .first h5 {
  margin: auto;
  color:white;
  font-weight: 500;
  padding: 0.6rem 0.6rem;
}
.page .first p {           
  color:white;
  font-weight: 500;
  padding: 0.6rem 3rem;
}
.sigin{
  background:white;
}

.sigin .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}

.sigin .text h6 {
  font-weight: 600;
  color: green;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.sigin .text h2 {
  color: black;
  font-weight: 600;
  font-size: 2.7rem;
}

.sigin .text p {
  color: black;
  font-size: 1.1rem;
}
.sigin .img-fluid{
  margin-left:2rem ;
  height: 22rem;
}
@media (max-width: 820px) {
  .sigin .img-fluid{
    height:auto;
    margin: auto;
  }
}
@media (max-width: 1030) {
  .sigin .img-fluid{
    height:22rem;
    margin: auto;
  }
}

.sigin .text a {
  background: black;
  font-weight: 600;
  padding: 0.6rem 1.4rem;
  border-radius: 30px;
  text-decoration: none;
  color: white;
}

.sigin .text a:hover {
  background: #526654;
}
body
  > footer
  > ul.list-unstyled.list-inline.text-center.py-2
  > li:nth-child(2)
  > a {
  font-weight: 600;
  background: #526654;
  padding: 0.6rem 1.4rem;
  border-radius: 30px;
  text-decoration: none;
}
body
  > footer
  > ul.list-unstyled.list-inline.text-center.py-2
  > li:nth-child(2)
  > a:hover {
  background: white;
}
.first:hover {
  transform: translateY(-1rem);
  transform: 0.5s ease;
}
footer{
  position: absolute;
  left: 0;
  right: 0;
  background: #111111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #F3F8F9;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #b5b2bd;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color:#F3F8F9;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}